@font-face {
    font-family: 'yekan';
    src:url('fonts/Yekan.eot?#') format('eot'),
    url('fonts/Yekan.woff') format('woff'),
    url('fonts/Yekan.ttf') format('truetype');
}

*{
    font-family: yekan;
    box-sizing: border-box;
}

a, a:visited{
    text-decoration: none;
    color: inherit;
}

.bold{
    font-weight: bold;
}

.btn{
    background-color: #3a6ee8;
    color: #fff;
    text-align: center;
    cursor: auto;
}
.btn:hover{
    opacity: 0.8;
}

/* top header*/

#top_header{
    height: 50px;
    width: 100%;
    padding: 5px;
}

#top_header_container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

#signup_signin_btn{
    display: inline-block;
    position: relative;
    float: right;
}

#search_form{
    width: 25%;
    display: inline-block;
    float: left;
    padding: 3px 3px 4px 3px;
    margin-left: 1%;
    display: block;
    height: 100%;
    border: 0.5px solid #eaeaea;
}

#search_form input{
    position: relative;
    float: right;
    border-radius: 5px;
    background: white;
    padding: 0px;
    width: 85%;
    outline: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: auto;
    text-rendering: auto;
    text-indent: 5px;
    text-shadow: none;
    text-align: start;
    -webkit-writing-mode: horizontal-tb;
    height: 100%;
}

#search_form button{
    float: left;
    position: relative;
    width:12%;
    color: #1d943c;
    border: 0;
    background: none;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    font-size: 22px;
    -webkit-appearance: button;
    cursor: pointer;
    overflow: visible;
    box-sizing: border-box;
    padding: 0;
    align-items: flex-start;
    text-align: center;
    -webkit-writing-mode: horizontal-tb;
    line-height: 30px;
    height: 30px;
    left: 1%;
}


/* end of top header */

/* navigation bar*/

/*.nav{*/
/*background: #F4F4F4;*/
/*padding: 8px 0px;*/
/*!*position: relative;*!*/
/*}*/

#navigtion_bar{
    background-color: #F4F4F4;
    position: relative;
}

#navigation_bar_container{
    max-width: 1170px;
    /*width: 1170px;*/
    min-height: 50px;
    margin-right: auto;
    margin-left: auto;
}

#navigation_bar_list{
    margin-top: 2px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    font-size: 14px;
    margin-bottom: 2px;
}

.menu_item{
    float: right;
    display: block;
    color: #838383;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 10px;

}

.menu_item a{
    cursor: auto;
}

.menu_item a:hover{
    color: #666!important;
    font-weight: bold;
    cursor: auto;

}

.menu_item a span{
    content: "\e93a";
}

/* Main*/

.main{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.movie-tabs-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
}

.movie-tabs-div ul{
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    flex: 1 1 auto;
}

.movie-tabs-item{
    display: inline-flex;
    padding: 0px 57px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #686868;
    color: #686868;
    font-size: 16px;
}

.movie-tabs-item a{

}


.download_score{
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    flex: 1 1 auto;
    box-sizing: border-box;
    padding-bottom: 40px;
    border-bottom: 1px solid #686868;
}

.rating_slider_div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    flex: 1 1 auto;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.rating_slider_div .range_item {
    width: 80%;
}

.rating_slider_div .range_item label {
    width: 100%;
    height: 50px;
}

.rating_slider_div .range_item .scorebar_div{
    width: 100%;
    height: 0.5%;
    position: relative;
    direction: ltr;
}

.rating_slider_div .range_item .scorebar_div div{
    position: absolute;
    height: 100%;
}

.rating_slider_div .range_item .scorebar_div .scorebar_background{
    width: 100%;
    background: #969696;
}

.rating_slider_div .range_item .scorebar_div .scorebar_foreground{
    width: 90%; /* I must change this later */
    background: #15c578;
}

#suggesttion_numbers_div{

}

#suggesttion_numbers_div{
    padding: 20px;
}

#suggesttion_numbers_div p{
    display: inline;
    font-size: 18px;
    color: #3a6ee8;
}

.submit_score_div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    flex: 1 1 auto;
    position: relative;

}

.submit_score_div p{
    color: #ccc;
}

.submit_score_div a{
    width: 8em;
    height: 3em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.download_box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    flex: 1 1 auto;
}

.download_searcher{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    flex: 1 1 auto;
    width: 100%;
}

.download_searcher #top_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    flex: 1 1 auto;
    width: 100%;
    padding-top: 50px;
}

.download_searcher #top_row #left_items{
    margin-left: auto;
}

.download_searcher #top_row #right_items{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    flex: 1 1 auto;
    margin-right: auto;
    width: 70%;
}

.download_searcher #top_row #right_items button{
    margin-left: 20px;
}

.download_searcher #top_row #left_items{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    flex: 1 1 auto;
    margin-left: auto;
    width: 30%;
}

.download_searcher #top_row #left_items span{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.download_searcher #top_row #left_items span img{
    width: 50px;
    height: 50px;
    opacity: 0.4;
    cursor: pointer;
    padding: 3px;
    border: 1px groove #616161;
}

.download_searcher #top_row #left_items .question_mark_span{
    font-size: 30px;
}

.download_searcher #top_row #left_items .help_span{
    font-size: 24px;
}

.download_searcher #bottom_row{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    flex: 1 1 auto;
    margin-right: auto;
}

.download_searcher #bottom_row #radio_group_div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    flex: 1 1 auto;
    width: 100%;
}

.download_searcher #bottom_row #radio_group_div div:first-child{
    padding-left: 20px;
}

.download_searcher #bottom_row #radio_group_div div{

}

.download_links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    flex: 1 1 auto;
    width: 100%;

}

.download_links .bluray_download_link_div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    flex: 1 1 auto;
    width: 100%;
}

.download_links .bluray_download_link_div h4{
    align-self: flex-start;
    flex: 1 1 auto;
    border-bottom: 2px solid #e51c23;
    margin-bottom: 1px;
}

.border_maker{
    width: 100%;
    border: 1px solid #e51c23;
}

/*this is a good class :D*/
.download_link_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    flex: 1 1 auto;
    width: 100%;
}

.download_link_div div:nth-child(1){
    background-color: #e51c23;
}

.download_link_div div:nth-child(2){
    background-color: #e51c23;
}

.download_link_div div:nth-child(3){
    background-color: #e51c23;
}

.download_link_div div:nth-child(4){
    background-color: #e51c23;
}

.download_link_div div:nth-child(5){
    background-color: #e51c23;
}



.bluray_download_link_div{

}

.download_links .music_download_link_div{

}