#container{
    background-color: aqua;
    width: 500px;
    margin: auto;
    text-align: center;
}
#tab_box{
    background-color: aliceblue;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.tab{
    display: inline-block;
    background-color: red;
    height: 100%;
}

#login_tab{
    width: 50%;
    float: right;
    background-color: blue;
}

.tab a{
    display: block;
    text-decoration: None;
    height: 100%;
    line-height: 40px;
}

#signup_tab{
    width: 50%;
    float: left;
}

#google_login_div{
    margin: 0 auto;
    width: 60%;
    text-align: center;
    background-color: chartreuse;
    margin-top: 10px;
    height: 80px;
    margin-right: 20%;
    margin-left: 20%;
}

#login_panel{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#google_login_div a{
    display: block;
    text-decoration: None;
    height: 100%;
    line-height: 80px;
}

#username_div{
    background-color: crimson;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#username_div input{
    display: inline-block;
    float: left;
    width: 60%;
    position: relative;
    top: 5px;
}

#password_div{
    height: 40px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}



#password_div input{
    display: inline-block;
    float: left;
    width: 60%;
    position: relative;
    top: 5px;
}

* label{
    display: inline-block ;
    float: right;
    width: 30%;
    position: relative;
    top: 9px;
    text-align: right;
    right: 25px;
}

#captcha_div{
    height: 40px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#captcha_div input{
    display: inline-block;
    float: left;
    width: 60%;
    position: relative;
    top: 5px;
}

#options_div{
    height: 40px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}


#options_div #remember__me_div{
    display: inline-block ;
    float: right;
    /*width: 35%;*/
    height: 100%;
    position: relative;
    text-align: right;
    margin-right: 35%;
}

#options_div #remember__me_div input{
    float: right;
}


#options_div a{
    display: inline-block;
    float: left;
    height: 100%;
    position: relative;
}