@font-face {
    font-family: 'yekan';
    src:url('fonts/Yekan.eot?#') format('eot'),
    url('fonts/Yekan.woff') format('woff'),
    url('fonts/Yekan.ttf') format('truetype');
}

*{
    font-family: yekan;
}

a{
    text-decoration: none;
}

/* top header*/

#top_header{
    height: 30px;
    width: 100%;
    padding: 5px;
}

#signup_signin_btn{
    display: inline-block;
    position: relative;
    float: right;
}

#search_box{
    position:relative;
    float: left;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    height: 100%;
    margin-left: 20px;
    left: 10px;
    width: 25%;
}

#search_box .icon{
    float: left;
    margin-right: -20px;
}

#search_box #search_input{
    float: right;
    width: 100%;
}


/* end of top header */

/* navigation bar*/



/* end of navigation */

/* middle div*/



/* end of middle div */

/* footer*/

#footer #bottom_footer p{
    border-top: solid dodgerblue 4px;
    background-color: white;
    text-align: center;
    padding-bottom: 20px;
}

/* end of footer */

