@font-face {
    font-family: 'yekan';
    src:url('fonts/Yekan.eot?#') format('eot'),
    url('fonts/Yekan.woff') format('woff'),
    url('fonts/Yekan.ttf') format('truetype');
}

*{
    font-family: yekan;
}

a{
    text-decoration: none;
}

/* top header*/

#top_header{
    height: 30px;
    width: 100%;
    padding: 5px;
}

#signup_signin_btn{
    display: inline-block;
    position: relative;
    float: right;
}

#search_form{
    width: 25%;
    display: inline-block;
    float: left;
    padding: 3px 3px 4px 3px;
    margin-left: 1%;
    display: block;
    height: 100%;
    border: 0.5px solid #eaeaea;
}

#search_form input{
    position: relative;
    float: right;
    border-radius: 5px;
    background: white;
    padding: 0px;
    width: 85%;
    outline: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: auto;
    text-rendering: auto;
    text-indent: 5px;
    text-shadow: none;
    text-align: start;
    -webkit-writing-mode: horizontal-tb;
    height: 100%px;
}

#search_form button{
    float: left;
    position: relative;
    width:12%;
    color: #1d943c;
    border: 0;
    background: none;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    font-size: 22px;
    -webkit-appearance: button;
    cursor: pointer;
    overflow: visible;
    box-sizing: border-box;
    padding: 0;
    align-items: flex-start;
    text-align: center;
    -webkit-writing-mode: horizontal-tb;
    line-height: 30px;
    height: 30px;
    left: 1%;
}


/* end of top header */

/* navigation bar*/



/* end of navigation */

/* middle div*/



/* end of middle div */

/* footer*/

#footer #bottom_footer p{
    border-top: solid dodgerblue 4px;
    background-color: white;
    text-align: center;
    padding-bottom: 20px;
}

/* end of footer */

